.sidebar-card {
  padding: 15px 20px;
  p {
    font-size: 1em;
    font-weight: 600;
  }
  &.active {
    color: hsl(124, 44%, 57%);
  }
  &:hover {
    cursor: pointer;
    background: hsla(0, 0%, 51%, 0.2);
  }
}
